# https://qiita.com/Hi-king/items/a8485557095692f1bf13
## .gitignore ##
# ignore all
*
!*/

nvim/.config/dein/.cache/
nvim/.config/dein/repos/

# allow
!.gitignore
!.gitkeep
!Makefile
!README.md

!*/bin/*.sh

!bash/.bash_aliases
!bash/.bash_profile
!bash/.bashrc

!zsh/.zprofile
!zsh/.zsh_aliases
!zsh/.zshrc

!fish/.config/fish/config.fish
!fish/.config/fish/functions/*.fish

!git/.gitconfig
!git/.gitignore_global

!nvim/.config/nvim/init.vim
!nvim/.config/nvim/dein.toml
