# https://qiita.com/Hi-king/items/a8485557095692f1bf13
## .gitignore ##
# ignore all
*
!*/

nvim/.config/dein/.cache/
nvim/.config/dein/repos/

# allow
!.gitignore
!.gitkeep
!Makefile
!README.md

!*/bin/*.sh
!install.sh

!bash/.bash_aliases
!bash/.bash_profile
!bash/.bashrc

!zsh/.zprofile
!zsh/.zsh_aliases
!zsh/.zshrc
!zsh/.config/zsh/tmux.zsh

!fish/.config/fish/config.fish
!fish/.config/fish/functions/*.fish

!git/.gitconfig
!git/.gitignore_global

!nvim/.config/nvim/init.vim
!nvim/.config/nvim/dein.toml
!nvim/.config/nvim/spell/en.utf-8.add

!tmux/.tmux.conf
!tmux/.config/tmux/*.sh

!mac/iterm2/com.googlecode.iterm2.plist
!mac/jetbrains/Monokai Sublime Text 3.jar
!mac/vscode/extensions.list
!mac/vscode/keybindings.json
!mac/vscode/settings.json
